div {
  width: 100%;
  height: 400px;
  
  background-image: url("https://newborniguanas.com/wp-content/uploads/2021/12/gif2_11_image-1.gif");
  background-repeat: no-repeat;
  background-size: contain;
}
html { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#root { 
  width:100%; 
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
